/* FONT IMPORTS */

/* Navbar Font */
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
/* Body Font */
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
/* Index Hero */
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

/* VARIABLES */
:root {
    --font-navbar: "Prosto One", sans-serif;
    --font-header: "Prosto One", sans-serif;
    --font-body: "Newsreader", serif;
    --font-index-hero: "Jersey 20", sans-serif;

    --error-colour: rgb(255, 107, 107);
    --logo-colour: #DBA323;
    --logo-colour-2: #ffd269;
    --hover-btn-colour: #ffbe27;
    --offwhite-colour: #F5F5F5;
    --card-bg: #0f0f0f;

    --main-bg: #0f0f11;
    --second-bg: #15151d;

    --header-bg: #070503;
    --header-text: var(--offwhite-colour);
    --header-hover: var(--logo-colour);

    --footer-hover: var(--logo-colour);
    --footer-bg: #070503;
    --footer-text: var(--offwhite-colour);
}

/* Basic CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

/* Add padding back */
input,
textarea {
    padding: .25rem;
}

/* Basic Font Size / Color*/

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
li,
label {
    color: var(--offwhite-colour);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-header);
}

p,
li,
a,
label,
input,
textarea {
    font-size: 1.1rem;
}

/* Basic Font Family Set */
body {
    background-color: var(--header-bg);
    font-family: var(--font-body);
}

nav {
    font-family: var(--font-navbar);
}

/* Header */
header {
    position: sticky;
    top: 0px;
    background-color: var(--header-bg);
    z-index: 100;
}
.admin-nav-container{
    text-align: center;
}
.nav-logo {
    width: 10vw;
    min-width: 7rem;
    max-width: 15rem;
}

nav {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Mobile menu */
.mobile-menu {
    top: 122.75px;
    position: absolute;
    left: 0;
    flex-direction: column;
    list-style: none;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--header-bg);
    width: 100%;
    align-items: center;
}

.mobile-menu>li>a {
    text-decoration: none;
    color: var(--offwhite-colour);
}

.menu-icon-container {
    height: 3rem;
    width: auto;
}

.menu-icon-container>img {
    height: 100%;
    width: auto;
}

.menu-icon-container {
    display: none;
}

.mobile-menu.active {
    animation: slideDown 0.1s ease-out forwards;
}

.hidden {
    display: none;
}

.active {
    display: none;
}

/* Desktop menu */
.desktop-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    width: 100%;
    padding: 2rem;
    list-style: none;
}

.desktop-menu>li>a {
    text-decoration: none;
    color: var(--header-text);
    font-size: 1.3rem;
}

.desktop-menu>li>a:hover {
    color: var(--header-hover);
}

.logo-nav {
    margin-right: auto;
}

/* FOOTER */
footer {
    padding-block: 2rem;
    display: grid;
    grid-template-areas:
        "footer1 footer2 footer3"
        "copyright copyright copyright";
    color: var(--footer-text);
    background-color: var(--footer-bg);
}

.footer1 {
    grid-area: footer1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer1>ul {
    list-style-type: none;
}

.footer1>ul>li>a {
    text-decoration: none;
    color: #F5F5F5;
}

.footer1>ul>li>a:hover {
    color: var(--header-hover);
}

.footer2 {
    grid-area: footer2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer3 {
    grid-area: footer3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.copy-container {
    display: flex;
    justify-content: center;
    grid-area: copyright;
}

.footer-logo-container {
    width: 10vw;
    min-width: 10rem;
    max-width: 15rem;
}

.footer-logo-container>img {
    width: 100%;
}

.socials-container {
    display: flex;
    gap: 2rem;
    margin-block: 1rem;
}

.footer-svg-container {
    width: 3rem;
}

.footer-svg-container>img {
    width: 100%;
}

/* INDEX */
/* INDEX-HERO */
.index-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
    background: linear-gradient(to bottom, var(--header-bg), var(--main-bg), var(--second-bg));
    min-height: 70vh;
}

.hero-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--offwhite-colour);
    max-width: 70ch;
}

.hero-card>h1 {
    font-family: var(--font-index-hero);
    color: var(--logo-colour);
    font-size: 3rem;
}

.hero-card>h2 {
    font-family: var(--font-index-hero);
    color: var(--logo-colour);
    font-size: 2.5rem;
}

/* INDEX - VALUE PROP */
.value-prop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
    background-color: var(--second-bg);
    color: white;
    text-align: center;
    padding: 4rem 2rem;
}

.value-prop h2 {
    color: var(--logo-colour);
    font-family: var(--font-header);
    font-size: 2rem;
    margin-bottom: 2rem;
}

.value-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.value-item {
    flex: 1;
    max-width: 300px;
    padding: 1rem;
    flex: 0 1 auto;
}

.value-item img {
    width: 64px;
    margin-bottom: 1rem;
}

.value-item h3 {
    font-size: 1.2rem;
    color: var(--logo-colour);
    margin-bottom: 0.5rem;
}

.value-item p {
    font-size: 0.95rem;
    line-height: 1.4;
}

/* INDEX - TESTIMONIAL */
.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, var(--second-bg), var(--main-bg), var(--header-bg));
    color: white;
    text-align: center;
    padding: 4rem 2rem;
    min-height: 60vh;
    gap: 2rem;
    flex-grow: 1;
}

.testimonials h2 {
    font-family: var(--font-header);
    color: var(--logo-colour);
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: stretch;
}

.testimonial {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--second-bg);
    border-radius: 8px;
    padding: 1rem;
}

.testimonial p {
    flex-grow: 1;
}

blockquote {
    font-style: italic;
    font-size: 0.95rem;
    margin-bottom: 1rem;
}

.name-location {
    font-size: 0.85rem;
    color: #ccc;
    margin: 0;
}

.name,
.location {
    display: inline;
    margin: 0;
    padding: 0;
}



/* LOGIN / REGISTER */
.login-body>main,
.register-body>main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-bg);
    background: linear-gradient(to bottom, var(--header-bg), var(--main-bg), var(--header-bg));
    min-height: 80vh;
    padding: 1rem;
}

.login-form,
.register-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80vw;
    max-width: 600px;
    background-color: var(--card-bg);
    padding: 4rem;
    border-radius: 10px;
    gap: 1rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    max-width: 100%;
}

/* FORM */
.form-btn-container {
    display: flex;
    justify-content: flex-start;
}

.form-btn {
    cursor: pointer;
    font-family: sans-serif;
    background-color: var(--logo-colour);
    color: var(--main-bg);
    border-radius: 5px;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.5rem;
    padding-inline: 2rem;
    text-decoration: none;
    max-width: fit-content;
    border: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-bottom: 1rem;
}

.form-btn:hover {
    background-color: var(--hover-btn-colour);
    transform: scale(1.05);
}
/* View Products Admin */
.product-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}
.products-admin-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.product-view-image-container{
    width: 150px;
}
.product-view-image-container img{
    width: 100%;
}
.product-view {
    flex: 0 0 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
    border-radius: 8px;
}
.products-admin-container .product-view:nth-child(odd) {
    background-color: var(--main-bg);
}

.products-admin-container .product-view:nth-child(even) {
    background-color: var(--second-bg);
}

/* Create Product Admin*/
.create-product-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.create-product-form {
    width: 90vw;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* SHOP */
.featured-section {
    background: linear-gradient(to bottom, var(--header-bg), var(--main-bg), var(--second-bg));
}

.featured-product {
    display: grid;
    padding: 2rem;
    padding-block: 2rem;
    grid-template-columns: 1f 1fr;
    grid-template-areas:
        "featured-left featured-right";
}

.featured-title {
    text-align: center;
    font-size: 1.75rem;
    color: var(--logo-colour);
}

.featured-product-title {
    font-size: 2rem;
    color: var(--logo-colour);
}

.featured-cart-price {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.featured-left {
    grid-area: featured-left;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.featured-price {
    font-size: 1.5rem;
    color: var(--logo-colour-2);
}

.featured-description {
    max-width: 60ch;
}

.featured-right {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
}

.featured-img-container {
    width: 20rem;
}

.featured-img-container img {
    width: 100%;
    border-radius: 15px;
}

.products-list {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
    padding-block: 4rem;
    gap: 2rem;
    justify-content: center;
    background: linear-gradient(to bottom, var(--second-bg), var(--main-bg), var(--header-bg));
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.products-header {
    color: var(--logo-colour);
    font-size: 1.75rem;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.product-card-links {
    display: flex;
    gap: 1rem;
}

.product-card-img-container {
    width: 15rem;
}

.product-card-img-container img {
    width: 100%;
    border-radius: 15px;
}

.product-card-price {
    font-size: 1.2rem;
    color: var(--logo-colour-2);
}

/* CONTACT */
.contact-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    background: linear-gradient(to bottom, var(--header-bg), var(--main-bg), var(--header-bg));
    min-height: 70vh;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90vw;
    max-width: 30rem;
}

.contact-form>textarea {
    height: 10rem;
    width: 100%;
    resize: none;
}

.contact-intro {
    max-width: 30rem
}

/* About */
.about-main {
    padding: 1rem;
    background: linear-gradient(to bottom, var(--header-bg), var(--main-bg), var(--second-bg), var(--header-bg));

}

.about-main-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title {
    text-align: center;
    color: var(--logo-colour);
    margin-bottom: 1.5rem;
}

.about-text {
    max-width: 60ch;
}

.profiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
}

.about-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.about-profile-pic-container {
    width: 20rem;
}

.about-profile-pic-container img {
    width: 100%;
    border-radius: 8px;
}

.about-mission {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
    gap: 2rem;
}

.mission-left {
    display: flex;
    align-items: center;
}

.mission-left>p {
    max-width: 20ch;
}

.mission-svg {
    width: 5rem;
}

.mission-svg img {
    width: 100%;
}

.arcadia-about-img-container {
    max-width: 500px;
    width: 90vw;
}

.arcadia-about-img-container img {
    width: 100%;
}

/* Accoridon */
.accordion {
    max-width: 700px;
    margin: 2rem auto;
    font-family: 'Segoe UI', sans-serif;
    color: #fff;
    background-color: var(--card-bg);
    padding: 1rem;
    border-radius: 8px;
}

details {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: var(--card-bg);
    padding: 0.5rem 1rem;
}

summary {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--logo-colour);
    cursor: pointer;
    outline: none;
}

details[open] summary {
    color: var(--logo-colour-2);
}

details p {
    margin-top: 0.5rem;
    color: var(--offwhite-colour);
}

/* Modular Classes */
/* Image Preview */
.create-product-image-preview-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.image-preview-container,
.current-image-container {
    max-width: 150px;
}
.current-image-container img{
    width: 100%;
}
.image-preview-container img{
    display: none;
    width: 100%;
}

/* Spacing */
.mb-2 {
    margin-bottom: 2rem;
}

.text-centre {
    text-align: center;
}

/* Colours */
.white-text {
    color: var(--offwhite-colour);
}

.error-colour {
    color: var(--error-colour);
}

.logo-colour {
    color: var(--logo-colour);
}

.logo-colour-2 {
    color: var(--logo-colour-2);
}

/* Font Styles */
.no-dec {
    text-decoration: none;
}

.bold {
    font-weight: 600;
}

.bolder {
    font-weight: 900;
}

.underline {
    text-decoration: underline;
}

.small-text {
    font-size: .8rem;
}

/* Multi Use Classes */
.border-error{
    border: 2px solid red;
}
.text-error{
    color: red;
}
.main-btn {
    cursor: pointer;
    display: block;
    font-family: sans-serif;
    background-color: var(--logo-colour);
    color: var(--main-bg);
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 1rem;
    text-decoration: none;
    max-width: fit-content;
    max-height: fit-content;
    border: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.main-btn:hover {
    background-color: var(--hover-btn-colour);
    transform: scale(1.1);
}

.stretch-btn {
    cursor: pointer;
    display: block;
    font-family: sans-serif;
    background-color: var(--logo-colour);
    color: var(--main-bg);
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 1rem;
    text-decoration: none;
    max-height: fit-content;
    border: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.stretch-btn:hover {
    background-color: var(--hover-btn-colour);
    transform: scale(1.025);
}

.dark-btn {
    cursor: pointer;
    display: block;
    font-family: sans-serif;
    background-color: var(--main-bg);
    border: 1px solid var(--logo-colour);
    color: var(--logo-colour);
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 1rem;
    text-decoration: none;
    max-width: fit-content;
    max-height: fit-content;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.dark-btn:hover {
    background-color: var(--hover-btn-colour);
    color: var(--main-bg);
    transform: scale(1.1);
}


/* Animations */
@keyframes fadeSlideUp {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in-up {
    animation: fadeSlideUp 1.0s ease-out forwards;
    opacity: 0;
}

.fade-in {
    animation: fadeIn 2.0s ease-out forwards;
    opacity: 0;
}

@keyframes slideDown {
    0% {
        opacity: 0.5;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media Queries */
@media (max-width: 1024px) {
    .featured-product {
        grid-template-areas:
            "featured-left"
            "featured-right";
        justify-content: center;
    }
}

@media (max-width: 900px) {
    .desktop-menu {
        display: none;
    }
    nav{
            justify-content: space-between;
    }
    .active {
        display: flex;
    }

    .menu-icon-container {
        display: inline;
    }
}

@media (max-width: 768px) {
    footer {
        padding-block: 2rem;
        display: grid;
        grid-template-areas:
            "footer1 footer2"
            "footer3 footer3"
            "copyright copyright ";
        gap: 2rem;
    }
}

@media (max-width: 425px) {
    footer {
        padding-block: 2rem;
        grid-template-areas:
            "footer1"
            "footer2"
            "footer3"
            "copyright";
    }
}